.ResultDetails {
  background-color: var(--bgColor);
  color: white;
  display: grid;
  grid-template-areas:
    "header header"
    "sidebar content";
  grid-template-rows: 16rem 2fr;
  grid-gap: 1.5rem;
  max-width: 80vmax;
  margin: 0 auto;
  text-align-last: left;
}

.ResultDetails__header {
  grid-area: header;
}

.ResultDetails__sidebar {
  grid-area: sidebar;
}

.ResultDetails__content {
  grid-area: content;
}

.ResultDetails__castList {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(7rem, 1fr));
  gap: 1rem;
}
