.ResultDetails {
  background-color: var(--bgColor);
  color: white;
  display: grid;
  grid-template-areas:
    "header header"
    "sidebar content";
  grid-template-rows: 16rem 2fr;
  grid-gap: 1.5rem;
  max-width: 80vmax;
  margin: 0 auto;
}

.Resultdetails__header {
  grid-area: header;
}

.Resultdetails__sidebar {
  grid-area: sidebar;
}

.Resultdetails__content {
  grid-area: content;
}