.DetailsHeader {
  background-size: cover;
  background-position: center;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  position: relative;
}

.DetailsHeader::after {
  content: " ";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-image: linear-gradient(
    to bottom,
    #000 0,
    rgba(0, 0, 0, 0) 25%,
    rgba(0, 0, 0, 0) 75%,
    #000 100%
  );
  z-index: 1;
}

.DetailsHeader__closeButton {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 10;
}

.DetailsHeader__left,
.DetailsHeader__right {
  align-self: end;
  z-index: 2;
  padding: 1rem;
}

.DetailsHeader__left {
  text-align: left;
  justify-self: start;
}

.DetailsHeader__right {
  text-align: right;
  justify-self: end;
}